// // Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

.container1 {
    background-position: center; /* Posisi gambar di tengah */
    color: white; /* Opsional: untuk memastikan teks terlihat jelas */
}

.teks1 {
    text-align: center;
    color: black;
}
